.second-hightlight-wrapper {
	background-image: url("../../../images/bluebuzz/1.png");
	height: 850px;
	background-position: bottom;
	background-repeat: no-repeat;
  background-size: initial;
  background-color: #fbfbfd;
	text-align: center;
	padding: 65px 20px;
	color: #fff;
	margin-bottom: 10px;	
}
@media (min-width: 768px) {
.second-hightlight-wrapper {
    min-height: 100px;
    background-image: url("../../../images/bluebuzz/BlueBuzz.png");
}
}