.calendly-highlight-wrapper {
	height: 400px;
	background-repeat: no-repeat;
  background-size: initial;
  background-color: #fbfbfd;
	text-align: center;
	padding: -85px 00px;
	color: #fff;
	margin-bottom: 10px;	
}
