.title-wrapper{
    font-size: 45px;
    padding-top: 40px;
    border: 2px solid rgba(158, 158, 158, 0.15);
}

.youtubeVideosWrapper {
	background: #fff;
	padding: 50px;
}
.singleVideoWrapper {
    background: #f3f2f2;
    box-shadow: 4px 0px 13px rgba(158, 158, 158, 0.12);
    margin-bottom: 30px;
    max-height: 393px;
    overflow: hidden;
}
.videoInfoWrapper {
    padding: 10px 20px;
    text-align: left;	
}
.videoDesc {
    font-size: 9px;
    color: #676767;
}	
.videoTitle {
	font-weight: 700;
	line-height: 1.2em;	
}
.videoTitle a {
	color: #000;
}